<footer class="footer mt-auto py-3">
    <div class="container">
      <div class="py-5 border-top">

          <div class="row">
            <div class="col-sm">
              <ul class="list-unstyled">
                <p class="text-muted">Made with <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> by <a href="http://www.twitter.com/erickuhn19">@erickuhn19</a></p>
                <li>
                  {%- if site.author -%}
                    {{ site.author | escape }}
                  {%- else -%}
                    {{ site.title | escape }}
                  {%- endif -%}
                </li>
                {%- if site.email -%}
                  <li>
                    <a href="mailto:{{ site.email }}">
                      {{ site.email }}
                    </a>
                  </li>
                {%- endif -%}
              </ul>
            </div>
            <div class="col-sm text-right">
              <ul class="list-unstyled">
                <li>
                  {{- site.description | escape -}}
                </li>
                <li>
                  <a href="https://GenesisNode.com/">GenesisNode</a>
                </li>
              </ul>
            </div>
          </div>

      </div>
    </div>
</footer>
