<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <a name="tshirts"></a>
  <h1 class="display-4">T-Shirts</h1>
  <p class="lead">Dope handmade t-shirts.</p>
</div>

<div class="container">
<div class="row">

  <div class="col-sm-4">
    <div class="card">
        <h5 class="card-header">#StackingSats</h5>
         <img src="/assets/example.jpg" class="img-fluid" alt="Responsive image">
        <div class="card-body">
          <h5 class="card-title">$20</h5>
          <p class="card-text">High quality black tshirt.</p>
          <p class="card-text"><a href="size">Size Information</a></p>
        {%- include /products/stackingsatstshirt.html -%}

        </div>
      </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
        <h5 class="card-header">Run a Full Node</h5>
        <img src="/assets/example.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">#20</h5>
          <p class="card-text">High quality black tshirt.</p>
              <p class="card-text"><a href="size">Size Information</a></p>
            {%- include /products/runafullnodetshirt.html -%}

        </div>
      </div>
  </div>

  <div class="col-sm-4">
      <div class="card">
        <h5 class="card-header">Featured</h5>
        <img src="/assets/example.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
  </div>
