---
layout: default
---

<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">T-Shirt Size Information</h4>
  <ul>
    <li>
      Fabric: CVC Jersey
      </li>
      <li>
        60% Combed Ring-Spun Cotton 40% Polyester /32 singles, 145 grams/4.3oz
        </li>
        <li>
          Neck: CREW NECK
          </li>
          <li>
            Binding: Set-in Collar 1x1 CVC Baby Rib. Side seamed.
            </li>
  </ul>
  <hr>
  <p class="mb-0">High Point Shoulder (HPS) is measured from the highest point of the shoulder to the bottom hem of the shirt. Bust/Width measures across the bust 1” below the armhole, seam to seam..</p>
</div>


<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">S</th>
      <th scope="col">M</th>
      <th scope="col">L</th>
      <th scope="col">XL</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">HPS</th>
      <td>28</td>
      <td>29</td>
      <td>30</td>
      <td>31</td>
    </tr>
    <tr>
      <th scope="row">Bust 1" below armhole</th>
      <td>19</td>
      <td>20 1/2</td>
      <td>22</td>
      <td>24</td>
    </tr>
  </tbody>
</table>
