---
layout: default
---
<section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">GenesisNode Store</h1>
      <p class="lead text-muted">Buy bitcoin merch with bitcoin.</p>
      <p>
        <a href="#tshirts" class="btn btn-primary my-2">T-shirts</a>
        <a href="#coffeemugs" class="btn btn-primary my-2">Coffee Mugs</a>
        <a href="#bookmarks" class="btn btn-primary my-2">Bookmarks</a>
      </p>
    </div>
  </section>

  {%- include tshirt.html -%}

  {%- include coffeemugs.html -%}

  {%- include bookmarks.html -%}
